

.pos-f-t li a{ 
font-family: "Lato", sans-serif;
color: #fafafa;
}

/* ---------------logo */
.center {
  display: inline-block;
  width: 10%;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.tagline-1 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: medium;
  padding-top: 10%;
}

.display-4 {
  font-family: "Lato" , sans-serif;
  color: #2f2f33;
}
.jumbotron p {
  font-family: "Lato" , sans-serif;
  color: #2f2f33;
}
.vumc_link {
  color: #1f2c69;
  font-weight: bolder;
}
.vumc_link1 {
  color: #9195a8;
  font-weight: bolder;
}

/* -------------------------Footer */
footer {
  background-color: #2f2f33;
  color: #fafafa;
  min-height: 120px;
  margin: 0;
}
.cv-pdf i {
  font-size: 18px;
  color: #fafafa;
  text-align: center;
  padding-left: 5px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;

.social-links {
  padding-bottom: 15px;
}
.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12 px 0;
  border-radius: 50%;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #fafafa;
  background: #5a5959;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #3b3c41;
}

#footer-details {
  padding: 20px;
}
